.ArticleList {
  position: relative;
}

.BIG {
  & .card {
    margin-bottom: 30px;
  }

}

.SMALL {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1010px;
  margin: 0 auto;

  .card {
    display: inline-flex;
    height: 300px;
  }

  .row {
    gap: 30px;
    display: flex;
  }

}

.ArticleListRedesigned {
  margin: 15px auto 0;
}
