.app.light {
  --bg-color: rgb(238 238 238 / 87%);
  --inverted-bg-color: #0e0e75;
  --primary-color: #1a5dcb;
  --secondaryy-color: #3265bb;
  --inverted-primary-color: #65d965;
  --inverted-secondaryy-color: #049604;
}